---
layout: default
title: Home
---

<h3>About Me</h3>

<p>
Hello! I am a M.Sc. Student and teaching assistant at <a href="https://bogazici.edu.tr/en-US/Index" target="_blank">Boğaziçi University</a>, <a href="https://ie.bogazici.edu.tr/" target="_blank">Industrial Engineering Department</a>, where I also earned my B.Sc. degree. Currently, my research focuses on the generation of random perfect graphs with integer programming techniques.
</p>

<h3>Contact Information</h3>
<p>
  <i class="fa-solid fa-envelope" aria-hidden="true"></i>  &nbsp; burak.erdem<i class="fa-solid fa-at" style="vertical-align: middle;"></i>bogazici.edu.tr
  <br>
  <i class="fa-solid fa-location-dot" aria-hidden="true" style="margin-right: 5px;"></i> &nbsp; Boğaziçi Üniversitesi, Güney Kampüs, Mühendislik Fakültesi, Endüstri Mühendisliği, M4015. 34342, Bebek, İstanbul
  <br>
  <i class="fa-brands fa-linkedin" aria-hidden="true" style="margin-right: 4px;"></i> &nbsp; <a href="https://www.linkedin.com/in/burak-nur-erdem/" target="_blank">LinkedIn</a>
  <!-- <i class="fa-solid fa-envelope" aria-hidden="true"></i> -->
</p>


<!-- 
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->