body{
    background-color: blue;
}

.page_wrapper{

    display: flex;

    .left_panel{

        display: flex;
        flex-direction: column;
        .back_button{

        }
    }
    .right_panel{

        display: flex;
        flex-direction: column;
        flex: 1;

        .control_bar{
            display: flex;

        }
        .canvas_wrapper{

        }
    }
    .control_button{

    }

}

textarea{
    min-width: 200px;
    min-height: 200px;
    max-width: 500px;
    max-height: 500px;
}
