---
layout: course
title: Course Page
permalink: /teaching/ie_203_2025_spring
---

<div style="font-family: Arial, sans-serif; font-size: 16px;">
  <h2>IE 203 Operations Research II - 2025 Spring</h2>

  <p style="margin-bottom: 0px;">
    <b>Instructor:</b> İ. Kuban Altınel <br>
    <span style="text-indent: 20px; display: inline-block;">
      Office: M4034
    </span> <br>
    <span style="text-indent: 20px; display: inline-block;">
      Office Hours: M 13:00 - 15:00, W 14:00 - 16:00
    </span> <br>
    <b>Teaching Assistant:</b> Burak Nur Erdem <br>
    <span style="text-indent: 20px; display: inline-block;">
      Office: M4015
    </span> <br>
    <span style="text-indent: 20px; display: inline-block;">
      Office Hours: Th 14:00 - 16:00
    </span> <br>
    <b>Exams:</b> <br>
    <ul style="margin-bottom: 0px;">
      <li> 
        Quiz I: 06.03.2025, Thursday, 11:00 <br>
        Location: NH401: AÇIKGÖZ - İNAN, M1170: İŞLER - YILMAZ
      </li>
      <li> 
        Midterm: 08.04.2025, Tuesday, 18:00 <br>
        Location: <b>VYKM1</b>: AÇIKGÖZ - GENÇ, <b>VYKM2</b>: GÖRGÜLÜ - PARMAKSIZ, <b>VYKM3</b>: PEKALKAN - YILMAZ
      </li>
      <li> 
        Quiz II: 08.05.2025, Thursday, 11:00 <br>
        Location: TBA
      </li>
    </ul>
    <b>Reading:</b> <br>
    <ul>
      <li>
        <em>Operations Research, An Introduction</em>, H. Taha, 10th ed. <br>
        <span style="text-indent: 20px; display: inline-block;">
          Integer Programming: Chapter 9
        </span> <br>
        <span style="text-indent: 20px; display: inline-block;">
          Nonlinear Programming: Chapter 21, 21.1, 21.2.1, 21.2.2
        </span>
      </li>
      <li>
        <em>Operations Research: Application and Algorithms</em>, W. L. Winston, 4th ed. <br>
        <span style="text-indent: 20px; display: inline-block;">
          Integer Programming: Chapter 9
        </span> <br>
        <span style="text-indent: 20px; display: inline-block;">
          Nonlinear Programming: Chapter 11.1 - 11.11
        </span>
      </li>
      <li>
        <em>Introduction to Operations Research</em>, F. S. Hillier, G. J. Lieberman<br>
        <span style="text-indent: 20px; display: inline-block;">
          Integer Programming: Chapter 11 (except 11.9)
        </span> <br>
        <span style="text-indent: 20px; display: inline-block;">
          Nonlinear Programming: Chapter 12 (except 12.10)
        </span>
      </li>
    </ul>
    <!-- <b>Announcements:</b> <br>
    <ul>
      <li style="text-decoration: line-through"> 
        About tomorrow, I plan to come to class and conduct a face-to-face problem
        session for those who may come to the class without any problems. Meanwhile, I may also open
        an online meeting where I will use my webcam to display the whiteboard. Though, it is possible
        that we may encounter issues with the resolution quality. I would like to learn your opinions
        on the situation which is very important for me. So, please fill the following form. I will decide
        based on the results. <br>
        <a href = "https://forms.gle/g2pur6E5WyGznYLK6" style="text-decoration: line-through">https://forms.gle/g2pur6E5WyGznYLK6</a> <br>
      </li>
      <li>
        The problem session on 20.02.2025 is <b>cancelled</b>. We will continue next week as usual, hopefully.
        Those with questions to ask are welcome during the office hours.
      </li>
    </ul> -->
  </p>

  <h4>Related Files:</h4>

  {% assign custom_order = "IE_203_Syllabus_2025_Spring.pdf, IE_203_grades.pdf, IE_203_PS1.pdf, IE_203_PS2.pdf, IE_203_PS2_Answers.pdf, IE_203_PS3.pdf, IE203Quiz1Spring2025-1.pdf, IE203Quiz1Spring2025Solutions-1.pdf, IE_203_PS4.pdf, IE_203_PS5.pdf, IE_203_PS6.pdf"
   | split: ", " %}

  {% for filename in custom_order %}
    {% for file in site.static_files %}
      {% if file.path contains "assets/ie_203_2025_spring/" and file.name == filename %}
        <p style="text-indent: 15px;margin-bottom: 0px;">
          <a href="{{ file.path | relative_url }}">{{ file.name }}</a>
        </p>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
